[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
# Dependencies are managed in requirements.txt
# This file exists primarily to specify Python version for tools like Snyk

